<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
   <p>
    Splurty was built by <a target="_blank" href="https://github.com/JPetel">Jacob</a>. A soon to be web developer.
  </p>
  <br />
  <p>
    Currently enrolled at the University of Toronto School of Continuing Studies - Coding Bootcamp.
  </p>
  <p>
    If you want to learn how to code too; 
    - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg' %>
  </div>

<div class="col-12 col-sm-7 offset-sm-1">
  <h2 class="text-right">Jacob Petel</h2>
  <br />
</div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />
